@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  background-color: #F8F8F8;
}

#hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}